body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #354147 url("./assets/img/background-img.png") no-repeat;
  background-position: top center;
  background-size: cover;
  opacity: 1;
  font-family: 'Chronicle Display Semibold';
  color: #fff;
}

main.landing-page .bg-gradient {
  background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%,
   #0B1D26 108.93%);
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

header .logo {
  font-size: 26px;
}

header .menu ul {
  display: flex;
  padding: 0;
}

header .menu ul li a {
  padding: 0 10px;
  font-family: 'Gilroy';
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

header .menu ul li a:hover {
  color: #FBD784;
  transition: ease-in 3ms;
}

header .account {
  display: flex;
  align-items: center;
  font-family: 'Gilroy';
  font-weight: bonormalld;
  font-size: 14px;
}

header .account img.account-icon {
  margin-right: 5px;  
  height: 15px;
  width: 15px;
}

header .account a {
  color: #fff;
  text-decoration: none;
}

header .account a:hover {
  color: #FBD784;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  min-height: 80vh;
  margin: 0 auto;
  padding: 0 40px 80px;
}

section .social {
  position: relative;
}

section .social p {
  margin: 0;
  text-align: left;
  transform: rotate(90deg) translate(-50%, 0);
  position: absolute;
  left: 0;
  transform-origin: bottom left;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Gilroy';
  font-size: 12px;
}

section .social p img.social-icon {
  vertical-align: bottom;
  height: 12px;
  width: 12px;
  padding-left: 10px;
}

section .header-content {
  max-width: 50%;
  margin: 0;
  align-items: center;
}
section .header-content p span {
  font-family: 'Gilroy';
  font-weight: bolder;
  font-size: 10px;
  color: #FBD784;
  text-transform: uppercase;
  word-spacing: 4px;
  letter-spacing: 3px;
  margin: 4px 0;
  position: relative;
  padding-left: 80px;
}

section .header-content p span:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 60px;
  background-color: #FBD784;
  left: 0;
  top: calc(50% - 2px);
  
}

section .header-content h5 {
  margin: 10px 0;
  font-size: 52px;
}

section .header-content p {
  align-items: center;
}

section .header-content p.scroll {
  font-family: 'Gilroy';
  font-size: 10px;
} 

section .header-content p img.arrow-icon {
  max-height: 14px;
  padding-left: 8px;
  vertical-align: middle;
}

section .pagination {
  font-family: 'Gilroy';
  font-size: 10px;
}

section .pagination ul {
  margin: 0;
  padding: 0;
}

section .pagination ul li {
  text-align: right;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding: 5px 15px;
}

section .pagination ul li.active {
  border-right: 2px solid rgba(255, 255, 255, 1);
}

.hiker-level,
.hiking-gear, 
.map-timing {
  display: flex;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto 60px;
}

.hiker-level .content,
.hiking-gear .content,
.map-timing .content {
  width: 60%;
  padding: 60px;
  position: relative;
}

.hiker-level .content:before,
.hiking-gear .content:before,
.map-timing .content:before {
  font-family: 'Gilroy';
  font-weight: bold;
  position: absolute;
  left: 8px;
  top: 5px;
  font-size: 110px;
  color: #fff;
  opacity: 0.5;
}

.hiker-level .content:before {
  content: '01';
}
.hiking-gear .content:before {
  content: '02';
}
.map-timing .content:before {
  content: '03';
}

.hiker-level .content p,
.hiking-gear .content p,
.map-timing .content p {
  margin: 0;
}

.hiker-level .content p span,
.hiking-gear .content p span,
.map-timing .content p span {
  font-family: 'Gilroy';
  font-weight: bold;
  font-size: 10px;
  color: #FBD784;
  text-transform: uppercase;
  word-spacing: 4px;
  letter-spacing: 4px;
  margin: 4px 0;
  position: relative;
  padding-left: 70px;
}

.hiker-level .content p span:before,
.hiking-gear .content p span:before,
.map-timing .content p span:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #FBD784;
  left: 0;
  top: calc(50% - 2px);
}

.hiker-level .content h1,
.hiking-gear .content h1,
.map-timing .content h1 {
  font-size: 48px;
  margin: 10px 0;
}

.hiker-level .content .sub-content,
.hiking-gear .content .sub-content,
.map-timing .content .sub-content {
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 1.8;
}

.hiker-level .content p.read,
.hiking-gear .content p.read,
.map-timing .content p.read {
  font-size: 14px;
  line-height: 70px;
  color: #FBD784;
}

.hiker-level .content p.read img,
.hiking-gear .content p.read img,
.map-timing .content p.read img {
  width: 15px;
  padding-left: 8px;
  vertical-align: middle;
}

.side-image-1,
.side-image-2,
.side-image-3 {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-width: 30%;
}

.side-image-1 {
  background-image: url("./assets/img/cycling.png");
}

.side-image-2 {
  background-image: url("./assets/img/hiking.png");
}

.side-image-3 {
  background-image: url("./assets/img/timing.png");
}

footer .footer-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 70px;
}

footer .footer-content {
  position: relative;
}

footer .footer-content p.footer-subcontent {
  max-width: 60%;
  font-family: 'Gilroy';
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
}

footer .footer-content p.copyright {
  position: absolute;
  bottom: 0;
  font-size: 10px;
  color:rgba(255, 255, 255, 0.5);
}

.footer-listing {
  display: flex;
  justify-content: space-between;
  width: 30%;
  font-family: 'Gilroy';
  font-size: 14px;
}

.footer-listing p {
  color: #FBD784;
  line-height: 28px;
}

.footer-listing ul {
  padding-left: 0;
  text-align: left;
  line-height: 28px;
  font-size: 12px;
}

@media screen and (max-width: 1080px) {
  .hiker-level .content,
  .hiking-gear .content,
  .map-timing .content {
    width: 60%;
    padding: 20px;
  }

  .hiker-level .content:before,
  .hiking-gear .content:before,
  .map-timing .content:before {
    left: 10px;
    top: 0;
    font-size: 58px;
  }

  footer .footer-section {
    padding: 20px;
  }  

  .footer-listing {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  header {
    max-width: 560px;
    padding: 0;
  }

  section {
    max-width: 560px;
    min-height: 60vh;
    padding: 0 14px 60px;
  }

  section .header-content {
    max-width: 70%;
    margin: 0;
  }

  section .header-content h5 {
    margin: 10px;
    font-size: 40px;
  }

  .hiker-level,
  .hiking-gear, 
  .map-timing {
    max-width: 560px;
    margin: 0 auto 40px;
  }

  .hiker-level .content,
  .hiking-gear .content,
  .map-timing .content {
    width: 60%;
    padding: 20px 30px;
  }

  .hiker-level .content:before,
  .hiking-gear .content:before,
  .map-timing .content:before {
    left: 30px;
    top: 0;
    font-size: 58px;
  }

  .hiker-level .content h1,
  .hiking-gear .content h1,
  .map-timing .content h1 {
    font-size: 32px;
    margin: 4px 0;
  }

  footer .footer-section {
    max-width: 560px;
    padding: 20px;
  }  

  .footer-listing {
    width: 50%;
  }
}

@media screen and (min-width: 557px) {
  .mobile-only {
    display: none;
  }

  footer .footer-section .mobile-copyright {
    display: none;
  }
}


@media screen and (max-width: 556px) { 
  
  header {
    max-width: 480px;
    padding: 10px 10px 30px;
  }

  header .logo {
    width: 100%;
    padding-top: 0;
    font-size: 16px;
  }

  header .menu  {
    position: fixed;
    top: 0;
    height: 100%;
    right: -300px;
    width: 300px;
    display: block;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    z-index: 50;
    }

  header .menu ul {
    display: block;
  }

  header .menu.open {
    right: 0;

  }

  header .menu ul li {
    padding: 10px;
    
  }

  header .menu ul li a {
    display: block;
    padding: 15px 26px;
    min-width: 230px;
    font-size: 20px;
    font-weight: lighter;
  }

  header .account .account-icon,
  header .account a {
    display: none;
  }

  header .account .hamburger {
    padding: 15px 0 15px 10px;
    z-index: 100;
  }

  header .account .hamburger:focus {
    outline: none;
  }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #fff;
    height: 3px;
    width: 35px;
  }

  .hamburger.is-active .hamburger-inner, 
  .hamburger.is-active .hamburger-inner::before, 
  .hamburger.is-active .hamburger-inner::after {
    background-color: #fff;
  }

  section {
    max-width: 480px;
    min-height: 40vh;
  }
  
  section .header-content {
    margin: 0 35px;
  }

  section .header-content h5 {
    margin: 10px 0;
    font-size: 28px;
  }

  .hiker-level,
  .hiking-gear, 
  .map-timing {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 30px;
  }

  .hiker-level .content,
  .hiking-gear .content,
  .map-timing .content {
    width: 100%;
  }

  .hiker-level .content p span:before,
  .hiking-gear .content p span:before,
  .map-timing .content p span:before {
    left: 8px;
    top: calc(50% - 5px);
  }

  .hiker-level .content:before,
  .hiking-gear .content:before,
  .map-timing .content:before {
    left: 30px;
    top: -10px;
  }

  .side-image-1,
  .side-image-2,
  .side-image-3 {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .hiker-level .content p span,
  .hiking-gear .content p span,
  .map-timing .content p span {
    word-spacing: 2px;
  } 

  footer .footer-section {
    box-sizing: border-box;
    display: block;
    max-width: 480px;
    padding: 20px 34px;
    width: 100%;
  }

  footer .footer-content p.footer-subcontent {
    max-width: 100%;
  }

  footer .footer-content p.copyright {
    display: none;
  }

  footer .footer-section .mobile-copyright {
    bottom: 0;
    font-size: 10px;
    color:rgba(255, 255, 255, 0.5);
  }

  .footer-listing {
    width: 100%;
  }
}
