@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light.woff2') format('woff2'),
        url('Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-ExtraBold.woff2') format('woff2'),
        url('Gilroy-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chronicle Display Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Chronicle Display Light Italic'), url('Chronicle Display Light Italic.woff') format('woff');
    }
    

@font-face {
    font-family: 'Chronicle Display Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Chronicle Display Roman'), url('Chronicle Display Roman.woff') format('woff');
    }
    

@font-face {
    font-family: 'Chronicle Display Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Chronicle Display Semibold'), url('Chronicle Display Semibold.woff') format('woff');
    }
    

@font-face {
    font-family: 'Chronicle Display Black';
    font-style: normal;
    font-weight: normal;
    src: local('Chronicle Display Black'), url('Chronicle Display Black.woff') format('woff');
    }
